.app {
  /* background-color: rgba(55, 255, 255, 0.6); */
  background-image: url("../src/assets/fondo.jpg");
  background-color: rgba(105, 206, 51, 0.5);
  background-blend-mode: color-burn;
  background-size: cover;
  height: 720px;
  /* isolation: isolate; */
  /* filter: opacity(1); */
}
